[Unit]
Description=Bang Discord Bot
After=multi-user.target

[Service]
Type=simple
User=www-data
Group=www-data
WorkingDirectory=/srv/discord/bangbot
ExecStart=/srv/discord/bangbot/.venv/bin/python3 /srv/discord/bangbot/main.py
Restart=always

[Install]
WantedBy=multi-user.target
